#nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

#navicon{
    display: flex;
}

h1{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: azure;
}

html{
    height: 100%;
}
body{
    background-color: #666AFA;
    height: 100%;
}

#button{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    background-color: azure;
    padding: 10px;
    height: 270px;
    width: 400px;
    margin: 10px;
    box-shadow: 0 8px 30px #C13940;
    border-radius: 7px;
}

img{
    height: 270px;
    width: 400px;
}

.grid{
    display: flex;
    gap: 70px 70px;
    margin: 30px;
    flex-flow: row wrap;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: azure;
}

.box{
    background-color: whitesmoke;
    border-radius: 5px;
    height: 520px;
    width: 550px;
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px #C13940;
}

.details{
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.contact{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
#map {
    border-radius: 5px;

}
.con{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about{
    align-items: center;
    color: #000;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 540px;
    width: 550px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px #C13940;
}

.title {
    color: black;
    font-size: 18px;
}

.sm{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    color: #000;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 585px;
    width: 550px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px #C13940;
}

.back{
    background-image: url(./assets/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.quote{
    background-color: whitesmoke;
    border-radius: 5px;
    height: 520px;
    width: 250px;
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px #C13940;
}

.quo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}